body{
    background-color: black;
}
.box{
    width: 450px;
    height: 150px;
    border: 1px solid white;
    background: linear-gradient(90deg,blue,green,yellow,red);
    margin: 100px auto;
}
.h1{
    text-align: center;
    color: gray;
    font-size: 30px;
}